:root {
    --body-font:  Courier, Rockwell, Cambria, cochin; 
    --body-bcolor: aqua;
    --header-bcolor: beige;
    --header-tcolor: black;
    --navbar-tcolor: pink;
    --headshot-shadow: light purple;
    --main-tcolor: blue;
    --main-bcolor: violet;
    --project-shadow: light red;
    --footer-bcolor: green;
    --footer-tcolor: red;
   

}

* {
    box-sizing: border-box;
    font-family: var(--body-font);
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--body-bcolor)
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 40px;
    color: var(--header-tcolor);
 }
 
 li {
    display: inline;
 }

 .header {
    background-color: var(--header-bcolor);
    height: 115px;
}

section {
    margin-top: 40px;
}


.headshot-containers img {
    width: 30%;
    height: 30%;
    border-radius: 100%;
    
    
}

.headshot-containers {
    display:flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
   

 
   
}

main {
   
}
/* rest of the pcards area */

.contains-all-pcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;




}
.container-for-contents-of-each-pcard{
    display: flex;


}
.img-of-product {
    display: flex;
    

}
.pcard-header{

}
#project-main-img{
    width: auto;
}
.small-p-img{
    width: 365px;
    height: 500px;
    border-radius: 10%;
    display: flex;
    





}


main {
    background-color: var(--main-bcolor);
    color: var(--main-tcolor);
    display: flex;

}

p {
    width: 97%;
}
a {
    color: var(--navbar-tcolor);
    

}

footer {
    color: var(--footer-tcolor);
    background-color: var(--footer-bcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 115px;
   
}

