:root {
    --body-font:  Courier, Rockwell, Cambria, cochin; 
    --body-bcolor:  white;
    --header-bcolor: rgb(167, 155, 155);
    --header-tcolor: blanchedalmond;
    --navbar-tcolor: brown;
    --headshot-shadow: light purple;
    --main-tcolor: blue;
    --main-bcolor: rgb(167, 155, 155);
    --project-shadow: light red;
    --footer-bcolor: green;
    --footer-tcolor: red;
}
* {
    box-sizing: border-box;
    font-family: var(--body-font);
    padding: 0;
    margin: 0;
}


body{
    background-color: var(--body-bcolor)
}


/* header starts */
header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 40px;
    color: var(--header-tcolor);
 }
 li {
    display: inline;
 }
 a {
    color: var(--navbar-tcolor);
    }
.header {
    background-color: var(--header-bcolor);
    height: 115px;
    padding-bottom: 20px;
}
/* header ends */


/* headshot section begins */
.headshot-containers img {
    width: 30%;
    height: 30%;
    border-radius: 100%;
    }
.headshot-containers {
    display:flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
}
p {
    width: 97%;
}


/* headshot section begins */


/* main part beigins */

main {display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bcolor);
    color: var(--main-tcolor);
    /* display: flex; */

   
}


/* main project part begins */




#relative-box {
    position: relative;
    left: 200px;
  }
  



.pcard-header{
    text-align: center;
    position: relative;
    left: 38px;
    bottom: 30px;
    margin: 10px 0 -60px 0;
    padding: 5px;
    background-color: blanchedalmond;
    border: 2px solid ; 
    border-radius: 15%;
    font-size: 40px;
    width: 80%;
    color: brown;
}
.img-of-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pcard-header-main{
    text-align: center;
    /* position: relative;
    left: 140px;
    top: 70px; */
    margin: 10px 0 -60px 0;
    padding: 5px;
    background-color: blanchedalmond;
    border: 2px solid ; 
    border-radius: 15%;
    font-size: 40px;
    width: 80%;
    color: brown;
}
#project-main-img{
    /* width: 80%; */
    border-radius: 4%;
    margin-bottom: 150px;
    margin-top: 100px;
    display: block;
}


#project-main-img:hover{
    box-shadow: 20px 20px 20px  brown;
    /* width: auto; */
    border-radius: 4%;
    margin-bottom: 150px;
    
}



.contains-all-pcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    align-items: space-between;
}
.container-for-contents-of-each-pcard:hover{
    box-shadow: 20px 20px 20px  brown;
    border-radius: 15%;
    width: 365px;
    height: 500px;
    
}

.small-p-img{
    width: 365px;
    height: 500px;
    border-radius: 10%;
    display: flex;
    margin-bottom: 50px;
}
footer {
    color: var(--footer-tcolor);
    background-color: var(--footer-bcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 115px;
   
}


/* @media screen and (min-width: 768px) {
   
    #project-main-img,
    .pcard-header-main
     {
        /* max-width: 100%; */
        /* height: auto;
      }
    } / */
    
      /* @media only screen and (max-width: 768px) { */
        /* #project-main-img
        .pcard-header-main {
          max-width: 50%; */
       
    
   
          @media only screen and (max-width: 768px) {
            #project-main-img {
                width: 500px;
            }
            .pcard-header-main {
                width: 500px;
                font-size: 30px;
                left: 0;
            }
        }
    
        @media only screen and (max-width: 500px) {
            #project-main-img {
                width: 250px;
            }
            .pcard-header-main {
                width: 250px;
                font-size: 30px;
                left: 0;
            }
        }
  
