:root {
    --body-font:  Courier, Rockwell, Cambria, cochin; 
    --body-bcolor: aqua;
    --header-bcolor: beige;
    --header-tcolor: black;
    --navbar-tcolor: pink;
    --headshot-shadow: light purple;
    --main-tcolor: blue;
    --main-bcolor: violet;
    --project-shadow: light red;
    --footer-bcolor: green;
    --footer-tcolor: red;
   

}

* {
    box-sizing: border-box;
    font-family: var(--body-font);
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--body-bcolor)
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 40px;
    color: var(--header-tcolor);
 }
 
 li {
    display: inline;
 }

 .header {
    background-color: var(--header-bcolor);
    height: 115px;
}


#hs-and-about-p{
display: flex;
flex-direction: column;



}
section {
    margin-top: 40px;
}
.headshot-containers img {
    width: 30%;
    height: 30%;
    border-radius: 100%;
    box-shadow: 100% var(--headshot-shadow)
    
    

}
.headshot-containers {
    display:flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;

 
   
}

main {
   
}
/* rest of the pcards area */

.contains-all-pcards {
    display: flex;
    flex-direction: column;




}
.container-for-contents-of-each-pcard{


}
.img-of-product {

}
.pcard-header{

}

#project1 img{
    width: 400px;


}
#project2 img{
    width: 400px;


}
#project3 img{
    width: 400px;


}
#project4 img{
    width: 400px;


}


main {
    background-color: var(--main-bcolor);
    color: var(--main-tcolor);
    display: flex;

}

p {
    width: 97%;
}
a {
    color: var(--navbar-tcolor);
    

}

footer {
    color: var(--footer-tcolor);
    background-color: var(--footer-bcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 115px;
   
}

